[inReach]
User		= Your inReach feed user
#If this is defined, we will authenticate to the inReach service.
# If it is not, we will assume public access is ok.
#Password	= Your inReach feed password, if required

# This should be the location of your KML feed.
URL		= https://share.garmin.com/Feed/Share/%(User)s

[APRS]
#This SSID is used for logging into APRS-IS, and also as a base ID for 
# generating callsigns for devices.  The first device found will be this
# SSID, the next will be this ID + 1, and so on.  If you define a [Devices]
# section, it is _only_ used for the login, and the device mapping must be
# given in full in the [Devices] section.
SSID		= N0CALL
# If you don't have a password, you can use the --genpass command-line
# option to calculate it.
Password	= 1234
Port		= 14580

#If the separator is /, your icon will come from the primary symbol table.
# if it is \, it will draw from the secondary table.
Separator	= /
#This character represents an APRS icon from the table tied to Separator.
Symbol		= (

#This information is included at the end of each packet, along with some 
# other data.
Comment		= APRS-IS KML forwarder, by K0SIN

#Define this section if you'd like to enforce an SSID to IMEI mapping.
# It must contain all devices you want to publish.  Anything without a
# mapping defined will be ignored if this section exists.
#[Devices]
#N0CALL-12	= 987654321987654
#N0CALL-15	= 987654321987656
#N0CALL-8	= 092847784398753

[General]
# KML polling interval in seconds.
Period		= 300


