# New config file to handle multiple inreach devices

[inReach]
User		= Your-inReach-Username
#If this is defined, we will authenticate to the inReach service.
# If it is not, we will assume public access is ok.
#Password	= Your inReach Feed password, if required

# This should be the location of your KML feed.
URL		= https://share.garmin.com/Feed/Share/%(User)s

[DEVICES]
DEVICE_1    = IMEI_1
DEVICE_2    = IMEI_2
DEVICE_x    = IMEI_x


[APRS]
SSID_1		= NOCALL-10
SSID_2      = NOCALL-11
SSID_x      = NOCALL-x
Password	= 1234
Port		= 14580

#If the separator is /, your icon will come from the primary symbol table.
# if it is \, it will draw from the secondary table.
Separator	= /
#This character represents an APRS icon from the table tied to Separator.
Symbol		= (

#This information is included at the end of each packet, along with some 
# other data.
Comment		= APRS-IS KML forwarder, by K0SIN

[General]
# KML polling interval in seconds.
Period		= 300



